{% extends "base.html.twig" %}

{% block title %}Sprint{% endblock %}


{% block content %}

    {% if errors is not empty %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {%endif%}

    <h2 class="mt-5">Sprint</h2>

    <!-- <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Assignee</th>
            <th scope="col">Story Points</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table> -->

{% endblock %}
